/* import font */


/* regole gnerali pagina */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* add font to body */
body {
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

ul{
    list-style-type: none;
}

a{
    color: white;
    text-decoration: none;
}
/* regole header */

header {
    background-image: url(/img/jumbo.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* debug */
    min-height: 600px;
    background-color: rgb(74, 76, 237);
}

/* navbar */

.navbar {
    height: 70px;
    /* flex */
    display: flex;
    justify-content: space-around;
    align-items: center;

}

/* stile div con pagine nel navbar */

#pages ul {
    width: 500px;
    
    /* flex */
    display: flex;
    justify-content: space-around;

}


#pages a:hover {
    color: red;
}

#accedi {
    color: rgb(2, 2, 2);
    text-decoration: none;
    background-color: white;
    padding: 8px;
    border-radius: 15px;

}

#accedi:hover {
    background-color: blueviolet;
    color: white;
}

/* jumbotron */
.jumbotron {
    display: flex;
    justify-content: center;

}

.contenent-hero {

    height: 500px;
    width: 700px;

    /* flex */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.contenent-hero h1 {
    color: white;
    font-size: 40px;
}

.contenent-hero p {
    color: white;
    font-size: 17px;
    text-align: center;
    line-height: 30px;

}

.button-hero {

    background-color: white;
    text-decoration: none;
    background-color: white;
    padding: 12px;
    border-radius: 20px;
    font-size: 17px;
    color: black;
    margin: 10px;
}

.blk {
    background-color: rgb(0, 0, 0);
    color: white;
}

.button-hero:hover {
    color: blue;
}

/* main */

/* stile delle section */

.light {
    background-color: aliceblue;
    min-height: 600px;
}

.dark {
    background-color: #f6f6f6;
}

.larger {
    min-height: 1000px;
}

.section-container {
    height: 600px;
    /* flex */
    display: flex;
    justify-content: center;
    align-items: center;
}

.big-column {
    height: 450px;
    width: 650px;
}


.small-column {
    height: 450px;
    width: 450px;

}

.small-column h1 {
    font-size: 50px;
}

.small-column p {
    margin-top: 20px;
    font-size: 20px;
}

.final-container {
    width: auto;
    height: 900px;


    /*flex*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.full-column {
    margin-top: 50px;
    width: 900px;
    text-align: center;
}

.full-column h1 {
    font-size: 35px;

}

.full-column p {
    margin-top: 50px;
    font-size: 17px;
}

.full-column h3 {
    font-size: 25px;
    margin-bottom: 50px;
}

.skyblue {
    background-color: #5865f2;
    color: white;
}




/* footer */
footer {

    /* debug */
    min-height: 700px;
    background-color: #22272b;
}

.footer-top{
    height:400px;
    /* flex */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;

}
.main-column{
    width: 200px;
    height: 200px;

    
}
.main-column h2{
    color: #5865f2;
    font-size: 30px;
}


.menu-column{
    display: flex;
  
}
.col{

    width: 200px;
    
}
.col li{
    line-height: 50px;
}
.main-cat{
    color: #5865f2;
}

/* footer bottom */

.footer-bottom{

    /* flex */
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.footer-bottom img{
    align-self: flex-end;
}